<h1>現在おうちで待機中のバーベキューコンロ</h1>
<%= link_to "ログアウト", destroy_user_session_path, method: :delete %>

<br>

<% @items.each_with_index do |item, number| %>
  <br>
  <p>----------------------------------------------------</p>
  <h4>No.<%= number+1 %></h4>
  <h2>品名：<%= item.title %></h2>
  <h2>価格：<%= item.price %>円</h2>
  <h4>所属：<%= item.place %></h4>
  <br>
<% end %>
