<h2>おかえりなさい！</h2>

<p>さっそくいい感じのバーベキューコンロを借りて、友達とバーベキューしに行こう！</p>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="field">
    <%= f.label :メールアドレス %><br />
    <%= f.email_field :email, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :パスワード %><br />
    <%= f.password_field :password, autocomplete: "off" %>
  </div>
<br>
  <% if devise_mapping.rememberable? -%>
    <div class="field">
      <%= f.check_box :remember_me %>
      <%= f.label :メールアドレス・パスワードを記憶させる %>
    </div>
  <% end -%>

  <div class="actions">
    <%= f.submit "ログイン" %>
  </div>
<% end %>
<br>
<p>ビンチョウタンを初めて利用する人はこちら！</p>
<%= render "devise/shared/links" %>
